<!DOCTYPE html>

<html lang="en">
  <head>
<style>

body {
	background-color: lightblue;
}

  h1 {
	color : purple;

}

  a {
	font-family : verdana;
	font-size: 20px;
}

	
    <meta charset="utf-8">
    <title>{% block title %}User Authentication system{% endblock %}</title>
</style>
  </head>
  <body>
    <header>
      <h1>Afzal Site</h1>
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">logout</a>
      {% else %}
        <a href="{% url 'login' %}">login</a> / <a href="{% url 'signup' %}">signup</a>
      {% endif %}
      <hr>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
